        
        .my-benefits {
            background-color:black;
            background-image: url(./image/benefits-back.jpg);
            background-size: cover;
            color:white;
            text-align: center;
        }
        .my-benefits-title {
            padding-top: 5px;
            font-size: 26px;
        }
        .my-benefits-title::after {
            content : '';
             display: block;
             height: 1px;
              width: 4em;
             margin: 0.5em auto 1em;
             background: #f1b636;
              opacity: 0.25;
        }
        h1 {
            color: orange;
            position: relative;
        }

        h3 {
            font-size: 20px;
            margin: 5px;
        }

        .benefits {
            margin-bottom: 4em;
        }

        .benefit {  
            margin-top: 10px;
            overflow: hidden;
        }
        .benefitImg {
                display: block;
                margin-left: auto;
              margin-right: auto;
                 width: 80%;
           }
        @media (min-width: 800px) {
            .benefits {
                display: flex;
                margin-top: 5px;
                margin-left: auto;
                margin-right: auto;
            }
            .benefit {
                padding: 5px;
                margin: 3px;
                overflow: hidden;
            }

            .benefitImg {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            
        }
/* youtube link */
.youtube-link-div {
    font-size: 20px;
    display: flex;
    background-color: whitesmoke;
    background-image: url(./image/logo-back.jpg);
    background-size: cover;
    text-align: center;
}
.youtube-link {
    margin: auto;
}
.youtube-content {
        margin-left: auto;
        margin-bottom: auto;
        padding: 25px;
}

.youtube-content h1::after{
    content : '';
             display: block;
             height: 0.05em;
              width: 7em;
             margin: 0.5em auto 1em;
             background: #f1b636;
}
@media screen and (max-width : 700px){
    .youtube-link-div {
        flex-direction: column;
    }

    .youtube-link {
        margin: auto;
        width: 50%;
    
    }
    .youtube-content {
        margin-left: auto;
        margin-right: auto;
    padding: 25px;
}
}